*

!.config/
!.config/nvim/
!.config/nvim/**/*
!.config/pet/
!.config/pet/**/*
!.config/tmux/
!.config/tmux/**/*
!.git_template/
!.git_template/**/*
!.gnupg/
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
!.tmuxinator/
!.tmuxinator/**/*
!bash_completion.d/
!bash_completion.d/**/*
!bin/
!bin/subl
!.rbenv/
!.rbenv/default-gems
!.vim/
!.vim/after/
!.vim/after/plugin/
!.vim/after/plugin/abolish.vim
!.cargo/
!.cargo/config

!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.editorconfig
!.exports
!.functions
!.gitconfig
!.gitignore
!.gitignore.global
!.hushlogin
!.ignore
!.inputrc
!.node-version
!.pryrc
!.rspec
!.rspec_helper.rb
!.ruby-version
!.tmux.conf
!.vimrc
!Brewfile
!LICENSE.txt
!README.md
