*

!.config/
!.config/powerline/**/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
!.tmuxinator/
!.tmuxinator/**/*
!bash_completion.d/
!bash_completion.d/**/*
!bin/
!bin/**/*

!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.editorconfig
!.exports
!.functions
!.gitconfig
!.gitignore
!.gitignore.global
!.hushlogin
!.ignore
!.inputrc
!.rspec
!.rspec_helper.rb
!.tmux.conf
!.vimrc
!Brewfile
!LICENSE.txt
!README.md