*

!.config/
!.config/alacritty/
!.config/alacritty/**/*
!.config/iterm/
!.config/iterm/**/*
!.config/nvim/
!.config/nvim/**/*
!.config/pet/
!.config/pet/**/*
!.config/tmux/
!.config/tmux/**/*
!.git_template/
!.git_template/**/*
!.gnupg/
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
!.tmuxinator/
!.tmuxinator/coreyja-blog.yml
!.tmuxinator/dev.to.yml
!.tmuxinator/devicon-lookup.yml
!.tmuxinator/dotfiles.yml
!.tmuxinator/glassbambi-blog.yml
!.tmuxinator/glassy-collections.yml
!.tmuxinator/hacking.yml
!.tmuxinator/octobox.yml
!.tmuxinator/package-tracker.yml
!.tmuxinator/rubocop-coreyja.yml
!.tmuxinator/sleet.yml
!bash_completion.d/
!bash_completion.d/**/*
!bin/
!bin/subl
!bin/ripper-tags-ctags.sh
!.rbenv/
!.rbenv/default-gems
!.vim/
!.vim/after/
!.vim/after/plugin/
!.vim/after/plugin/abolish.vim
!.cargo/
!.cargo/config
!themer-theme/
!themer-theme/**/*
!scripts/
!scripts/install_from_cargo.sh
!scripts/sort_cargofile.sh
!scripts/install_rbenv_plugins.sh
!scripts/initial_setup.sh
!scripts/setup.sh
!pub/
!pub/**/*


!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.editorconfig
!.exports
!.functions
!.gitconfig
!.gitignore
!.gitignore.global
!.hushlogin
!.ignore
!.inputrc
!.node-version
!.notags
!.pryrc
!.rspec
!.rspec_helper.rb
!.ruby-version
!.tmux.conf
!.vimrc
!Brewfile
!Cargofile
!LICENSE.txt
!README.md

**/.DS_Store
